<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397542434205-v1t6jm0b686ujcqdf6amc0u2nbvrj5b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397542434205-v1t6jm0b686ujcqdf6amc0u2nbvrj5b5</string>
	<key>API_KEY</key>
	<string>AIzaSyDUyugxMDCOF2bjQP07kzvpe5fXjD_mN9c</string>
	<key>GCM_SENDER_ID</key>
	<string>397542434205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapApp</string>
	<key>PROJECT_ID</key>
	<string>map-app-54d0c</string>
	<key>STORAGE_BUCKET</key>
	<string>map-app-54d0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397542434205:ios:00ec449c0fd2be57bcbb74</string>
</dict>
</plist>